<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="displayGun.css" media="screen" />
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div >
      <div>
        <h1 class="font"> Ak-47 | The Emperess </h1>
      </div>
      
      <div class="circle">
        <img src="../../images/guns/akInvernal.png" alt="Ak-47 Imperatriz">
      </div>
      <div class="butons">
        <button>
          vender
        </button>
        
        <button class="right">
          guardar
        </button>
        
        
      </div>
    </div>
    
      
    
    
    
  </div>
</body>
</html>